.baseForm {
    margin: auto;
    width: 25%;
    padding: 10px;
}

h1 {
    text-align: center;
}

a {
    text-align: center;
}

textarea {
    resize: none;
}

table {
    border: solid;
    size: 2px;
    background-color: blue;
    padding: 10;
}